@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 text-xs text-gray-500 sm:text-sm;
}

.s-group {
    @apply relative z-0 w-full mb-5
}

.s-label {
    transform-origin: 0%;
    @apply absolute duration-300 top-3 -z-1 text-gray-500
}

.s-input {
    @apply text-gray-600 pt-3 pb-2 block w-full mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200
}

.s-btn {
    @apply mb-2 md:mb-0 border px-5 py-2 text-sm shadow-sm font-medium tracking-wider rounded-full hover:shadow-lg
}

.s-sidebar-item {
    @apply flex flex-col items-center cursor-pointer p-4 border-b font-bold shadow-sm bg-white hover:bg-gray-100
}

.s-input:focus ~ .s-label,
.s-input:not(:placeholder-shown) ~ .s-label,
.s-textarea:focus ~ .s-label,
.s-textarea:not(:placeholder-shown) ~ .s-label,
.s-select:focus ~ .s-label,
.s-select:not([value='']):valid ~ .s-label {
    --tw-translate-x: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-scale-x: 0.85;
    --tw-scale-y: 0.85;
    --tw-translate-y: -1.5rem;

    @apply text-black;
}